@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	
		/*CSS transitions
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important*/

	//Custom styles
	.visible--mob
		display: inherit !important
	.hidden--mob
		display: none
	.logo--desc,.menu,.head__right,.content__left,.content__right,.open-menu__btns-wrap,.open-menu__right,.affiliate-popup>.affiliate__title,.affiliate-popup>.affiliate__form,.affiliate-popup>.form__submit-wrap,.log-in__left,.log-in__top,.land__menu,.filter__left
		display: none
	.logo--mob,.signin-btn--mob,.header-content--mob,.line--mob,.open-menu__right .affiliate__pretitle,#mob-menu-contacts,.contact_us-btn,#forget-btn--mob,.features-slider,.land__menu--mob,.dropdown,.features__nav,#advertises-slider--mob,footer .link-title,.log-in-wrap .line,.filter__nav--mob
		display: inherit
	.log-in-wrap
		height: 100vh
		background-color: #fff
		overflow: scroll
	.log-in__right .head__left
		display: flex
		position: relative
		background-color: #fff
		animation: none
	.partners__logos--mob
		display: flex
	.affiliate__form--mob
		display: flex
		flex-direction: column
	.line.first
		left: 7.28vw
	.line.second
		left: 28.74vw
	.line.third
		left: 50vw
	.line.fourth
		right: 7.28vw
	.line.line--mob.fifth
		right: 28.7vw
	.main-screen--left
		max-width: 100%
		padding: 7.24vw
	.logo
		width: 34vw
		margin-right: 0
	.signin-btn--mob
		width: 6.28vw
		margin-left: 20vw
		padding: 0
		img
			width: 100%
	.menu-btn
		width: 5.79vw
	.header-content--mob
		width: 100%
		padding: 9.67vw 7.28vw
	.slider--mob
		width: 100%
	.content__left--mob
	.content__right--mob
		.header__pretitle,.header__title,.header__descr
			color: inherit
	.stat-wrap
		width: 50%
		margin-right: 0
		margin-bottom: 4.83vw
		&.stat--main
			width: 100%
	.stat__number
		margin-right: 0
		margin-bottom: 2.41vw
		font-size: 7.73vw
		line-height: 10.1vw
	.stat__title
		font-size: 3.38vw
		line-height: 4.34vw
	.stat--main .stat__number
		font-size: 11.59vw
		line-height: 14.97vw
	.stat--main .stat__title
		font-size: 3.86vw
		line-height: 5vw
	.stats-wrap
		margin-bottom: 10.14vw
	.nav-wrap--mob
		align-items: center
		justify-content: space-between
		margin-bottom: 21.98vw
	.btn
		font-size: 3.38vw
		line-height: 4.83vw
		padding: 3.38vw 6.6vw
	.nav--mob
		.page-numbers
			margin-right: 16.7vw
		.news-slider__arrows
			margin-right: 4.83vw
	.current-page
		font-size: 3.38vw
		line-height: 4.34vw
		margin-right: 7.97vw
	.amount-pages, .slash
		font-size: 3.38vw
		line-height: 4.34vw
	.left-arrow, .right-arrow
		width: 7.24vw
		margin: 0
	.header__pretitle
		font-size: 2.89vw
		line-height: 3.86vw
		margin-bottom: 3.86vw
	.header__title
		font-size: 5.31vw
		line-height: 8.21vw
		margin-bottom: 4.83vw
	.header__descr
		font-size: 3.86vw
		line-height: 6.28vw
	.header__top.open .head__left
		padding: 7.24vw
		.signin-btn--mob
			display: none
	.menu-close__text
		font-size: 3.38vw
		line-height: 4.83vw
		margin-right: 3.38vw
	.menu-close__img
		width: 5.79vw
	
	.open-open__list
		&>li.parent-link
			&:hover
				.sub-menu
					display: none
	.sub-menu--mob
		position: inherit
		left: inherit
		padding: 0
		margin: 0
		margin-bottom: 30.91vw
		transform: none
		&>li
			margin-bottom: 9.67vw
			&:last-child
				margin-bottom: 0
			&>a
				font-size: 5.79vw
				line-height: 7.48vw
	.affiliate__pretitle
		font-size: 3.86vw
		line-height: 5.0vw
		margin-bottom: 9.67vw
	.pretitle--forget-pass img
		width: 5.79vw
		margin-right: 3.38vw
	.open-menu
		padding: 14.49vw 7.24vw 7.24vw 7.24vw
	.open-open__list>li
		margin-bottom: 9.67vw
		&:last-child
			margin-bottom: 0
	.open-open__list>li>a
		font-size: 5.79vw
		line-height: 7.48vw
		min-width: 45vw
	.open-open__list>li.parent-link>a:after
		width: 2.5vw
		height: 2.5vw
	.open-open__list
		margin-bottom: 30.91vw
	.contac_us
		font-size: 5.31vw
		line-height: 7vw
		margin-bottom: 14.49vw
	.link-content
		font-size: 6.76vw
		line-height: 8.69vw
		margin-bottom: 3.38vw
	.link-title
		font-size: 3.86vw
		line-height: 5vw
		margin-bottom: 7.24vw
	.link-wrap
		margin-bottom: 0
	.link-wrap--mob
		margin-bottom: 12vw
	.social-list
		margin-bottom: 27vw
	.social-list li
		margin-right: 5.79vw
		a
			width: 11.59vw
	.log-in__right
		background-image: url(../img/log-in-bg-mob.svg)
		background-position: right bottom
		background-size: 67.6vw auto
		height: fit-content
	.header__content
		background-image: url(../img/menu-bg--mob.svg)
		background-position: 0 bottom
		background-size: 100% auto
	.affiliate-popup
		padding: 9.67vw 10.62vw 9.67vw 7.28vw
		background-image: url(../img/menu-bg--mob.svg)
		background-repeat: no-repeat
		background-position: 0 bottom
		background-size: 100% auto
	.btn--img
		margin-right: 2.17vw
		padding: 3.38vw 4.7vw
	.affiliate__title
		font-size: 5.31vw
		line-height: 7vw
		margin-bottom: 14.49vw
	.inputs-column
		margin-right: 0
	.form__title
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 3.38vw
	.input--text
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 2.41vw
		padding: 3.62vw 7.24vw
		width: 79.3vw
		z-index: 0
	.input--password+label:after
		width: 3.86vw
		height: 3.14vw
		right: 7vw
		bottom: 8.3vw
	.input-label
		margin-bottom: 3.38vw
	.label__title
		font-size: 2.89vw
		line-height: 4.83vw
	.label__box
		width: 3.62vw
		height: 3.62vw
		min-width: 3.62vw
		min-height: 3.62vw
		margin-right: 2.41vw
	.log-in__right
		max-width: 100%
	.close--log-in--mob
		width: auto
		height: inherit
	.log-in__right
		padding: 0
	.log-in
		padding: 9.67vw 10.62vw 9.67vw 7.28vw
		overflow: scroll
	.submit-info
		font-size: 2.89vw
		line-height: 4.34vw
		margin-bottom: 13vw
	.log-in-form-btn
		margin-bottom: 3.86vw
		margin-right: 3.62vw
	.social__title
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 3.38vw
	.forget-data--btn
		background-color: #E5F4F0
		color: #019771
	.forget-pass,.email-sent,.change-pass,.pass-changed
		padding: 9.67vw 10.62vw 9.67vw 7.28vw
	.log-in-popup .form_inputs
		margin-bottom: 14.49vw
	.email-sent-ok-btn
		margin-right: 3.62vw
	.log-in-btn
		font-size: 3.38vw
		line-height: 4.83vw
		margin-right: 3.62vw
	.not-reg
		font-size: 3.38vw
		line-height: 4.83vw
	//Landing styles
	.landing
		.left-arrow
			margin-right: 7.24vw
	.block
		padding: 0 7.28vw
	.we-are-diffent--block
		padding: 9.67vw 0 14.49vw
	.land__pretitle
		font-size: 3.86vw
		line-height: 5vw
		margin-right: 13.76vw
	.land__menu-wrap
		margin-bottom: 7.28vw
	.land__title
		font-size: 5.31vw
		line-height: 7vw
		margin-bottom: 14.49vw
	.feature
		margin-bottom: 0
		width: inherit
		margin-right: 0
		transform: none
		display: flex !important
		justify-content: inherit
	.feature__content-wrap
		transform: none
	.feature__img
		width: 25.6vw
	.feature__title
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 3.38vw
	.feature__content
		font-size: 3.38vw
		line-height: 6.28vw
	.features-slider
		margin-bottom: 9.66vw
	.features__nav
		padding-right: 28.7vw
		justify-content: space-between
	.brands-slider-wrap
		padding: 0 10.38vw 0 7.28vw
	.brands-slider
		width: 100%
	.brand-slide
		margin-right: 0
		padding: 7.24vw
		width: inherit
	.brand__top
		margin-bottom: 7.24vw
	.brand__img
		width: 28.98vw
		height: 28.98vw
		margin-right: 4.83vw
	.rate
		margin-bottom: 2.41vw
	.rate__left
		font-size: 4.34vw
		line-height: 5.55vw
		margin-right: 6.76vw
		min-width: 8.45vw
	.rate__right
		font-size: 4.34vw
		line-height: 5.55vw
	.star
		width: 3.38vw
		height: 3.38vw
		margin-right: .96vw
	.stars
		margin-right: 2.41vw
	.rating
		margin-bottom: 2.41vw
	.star__title
		font-size: 3.38vw
		line-height: 4.34vw
	.brand__title
		font-size: 4.83vw
		line-height: 6.28vw
		margin-bottom: 5.79vw
		span
			margin-right: 2.89vw
		img
			width: 4.34vw
	.brand__category
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 1.44vw
	.brand__content
		font-size: 3.86vw
		line-height: 6.76vw
		margin-bottom: 7.97vw
	.brand__geo
		font-size: 3.38vw
		line-height: 4.34vw
	.brands-nav-wrap
		flex-direction: column-reverse
		padding-right: 28.7vw
	.brands__nav
		margin-bottom: 9.66vw
	.partner
		width: 44.2vw
		margin-right: 14.25vw
	.partners--block
		overflow: hidden
	.news-slider-wrap,.news-slide
		flex-direction: column
	.news-slide__left
		width: inherit
		flex-direction: row-reverse
		margin-bottom: 9.66vw
	.news-slide__pretitle
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 2.41vw
	.news-slide__title
		font-size: 5.31vw
		line-height: 7vw
	.news-slider
		width: 100%
		margin-right: 0
		margin-bottom: 9.66vw
	.news-slide__img
		width: 28.9vw
		margin-right: 13.76vw
	.news-slide__content
		font-size: 3.38vw
		line-height: 6.28vw
	.who-we-are--block
		padding: 14.49vw 1vw 14.49vw 7.28vw
	.who-we-are__content
		flex-direction: column
	.who-we-are__left
		width: inherit
		margin-bottom: 14.5vw
		.stat-wrap
			width: 42.55vw
	.who-we-are__right
		width: inherit
	.who-we-are__left
		.stat-wrap--big
			width: inherit
			.stat__number
				font-size: 11.59vw
				line-height: 14.97vw
			.stat__title
				font-size: 3.86vw
				line-height: 5vw
	.pre-img
		width: 25.6vw
	.who-we-are__right-content
		font-size: 3.38vw
		line-height: 6.28vw
	.get-in-touch--block
		padding: 14.49vw 7.28vw
	.get-in-touch__inputs
		flex-direction: column-reverse
	.get-in-touch__content
		flex-direction: column
	.get-in-touch--block .inputs-column
		margin-right: 0
		margin-bottom: 4.83vw
	.get-in-touch__form
		margin-bottom: 14.49vw
	.pre-footer
		padding: 19.3vw 1vw 7.28vw 7.28vw
		flex-direction: column
	.post-footer
		padding: 7.28vw 7.28vw 14.49vw
		flex-direction: column-reverse
		align-items: flex-start
	.footer__logo
		width: 34vw
		min-width: 34vw
		margin-right: 0
		margin-bottom: 14.49vw
	.footer__menu
		flex-wrap: wrap
	.footer-col
		margin-right: 13.5vw
		margin-bottom: 14.49vw
	.footer-link
		font-size: 4.83vw
		line-height: 6.28vw
		margin-bottom: 9.66vw
	.footer-sub-link
		font-size: 3.86vw
		line-height: 5vw
		margin-bottom: 4.83vw
	.footer-col--mob
		flex-direction: row
		flex-wrap: wrap
		margin-right: 0
		.footer-link
			min-width: 42.7vw
	.footer__contacts
		.link-wrap
			.link-content
				font-size: 5.79vw
				line-height: 7.38vw
				margin-bottom: 2.41vw
	.footer__contacts .social-list li
		margin-right: 5.79vw
		a
			width: 11.59vw
	.footer__partners
		flex-wrap: wrap
		margin-bottom: 9.66vw
	.footer__partner
		width: 16.9vw
		margin-right: 4.83vw
		margin-bottom: 2.41vw
	.year
		font-size: 3.86vw
		line-height: 5vw
		margin-bottom: 2.5vw
	.rights
		font-size: 3.38vw
		line-height: 4.34vw
	.features-wrap
		flex-direction: column
		padding: 0 10.38vw 0 7.28vw
	.armo-presentation
		width: inherit
		margin-right: 0
		margin-bottom: 14.49vw
	.armo__logo
		width: 72.4vw
		margin-bottom: 9.66vw
	.armo__text
		font-size: 3.86vw
		line-height: 6.28vw
	.how-it-works-features .feature
		background-image: url(../img/arrow-up-bg.svg)
		background-size: 34vw auto
		background-position: top right
		margin-bottom: 14.49vw
		padding-bottom: 14.49vw
		&:nth-child(2)
			background-image: url(../img/arrow-down-bg.svg)
	.advertises-slide
		flex-direction: column
		padding: 7.24vw
	.advertises-slide__left
		width: inherit
		margin-right: 0
		margin-bottom: 4.83vw
	.advertises-slide__title
		margin-bottom: 3.86vw
		font-size: 7.72vw
		line-height: 10.1vw
		span
			margin-right: 2.89vw
		img
			width: 5.79vw
	.advertises-slide__text
		font-size: 3.86vw
		line-height: 6.28vw
	.earning-features .feature
		padding-bottom: 19vw
		margin-bottom: 7.24vw
		background-position: bottom right
		background-size: 28vw
	.number__title
		font-size: 7.72vw
		line-height: 10.1vw
		margin-bottom: 2.41vw
	.number__text
		font-size: 3.38vw
		line-height: 4.34vw
	.numbers-wrap
		margin-bottom: 4.83vw
		margin-right: 13vw
	.traffic-features
		width: inherit
		margin-bottom: 22vw
	.traffic--block
		background-image: url(../img/world-mob.svg)
		background-position-x: 7.28vw
		background-position-y: bottom
		background-size: 100% auto
	.brand-item
		flex-direction: column
		margin-bottom: 9.66vw
	.brand-item .brand-slide
		border-bottom: none
	.brand-item__right
		border-top: none
		border-left: 1px solid rgba(1,22,30,.1)
		padding: 0 7.24vw 7.24vw
	.brand-item__group
		margin-bottom: 9.66vw
	.brand-item__title
		margin-bottom: 4.83vw
		font-size: 3.38vw
		line-height: 4.34vw
	.brand-item__values
		margin-bottom: 2.89vw
		font-size: 3.86vw
		line-height: 5vw
	.show-btn
		font-size: 3.86vw
		line-height: 4.83vw
	.filter__nav
		flex-direction: column
		align-items: flex-start
	.filter-wrap
		padding: 9.66vw 7.28vw 14.49vw
	.filter__right
		width: 100%
		.filter__numbers
			margin-right: 0
			margin-bottom: 9.66vw
		.current-page
			margin-right: 0
		.amount-pages
			margin-right: 39vw
	.filter-link
		font-size: 3.38vw
		line-height: 4.34vw
		margin-right: 9.66vw
		&.active
			margin-right: 40.57vw
	.filter__arrows
		align-items: center
	.filter--btn
		background-color: #E5F4F0
		padding: 3.38vw 9.66vw
		color: #019771
	.found-wrap
		margin-right: 14.6vw
		min-width: 28vw
		max-width: 28vw
	.found__value,.perpage__title,.found__title,.perpage__value
		font-size: 3.86vw
		line-height: 5vw
	.found__value,.perpage__title
		margin-right: 3.38vw
	.filter-info
		align-items: center
		margin-bottom: 9.66vw
	.filters-btns
		margin-bottom: 7.24vw
	.filter--text
		font-size: 3.38vw
		line-height: 4.34vw
		margin-bottom: 3.38vw
	.filter--mob
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 1
		background-color: #fff
		padding: 9.66vw 0
		min-height: 100vh
		z-index: 2
	.filter--select
		margin-bottom: 4.83vw
	.filter--chekbox .label__title
		font-size: 3.86vw
		line-height: 5vw
		margin-right: 3.38vw
	.filter--chekbox
		.label__amount
			font-size: 3.38vw
			line-height: 4.34vw
			margin-right: 3.38vw
		.label__img
			width: 1.93vw
	.subinputs-wrap
		margin-bottom: 3.38vw
	.filter-btns
		.filter-add--btn
			width: 100%
	.filter-add--btn
		background-color: #F1F9F7
		margin-bottom: 2.41vw
		color: inherit
		&:last-child
			margin-bottom: 0
	.filter__inputs
		margin-bottom: 9.66vw
	.filter-btns
		margin-bottom: 16.67vw
	.filter-mob-results
		align-items: center
		padding: 9.66vw 7.28vw
		&.green-bg
			background-color: #F9FCFB
		.btn,.found-wrap
			margin-bottom: 0
		.btn
			margin-right: 7.5vw
			color: #019771
	#go-back-btn
		padding: 0
	.page-brand__left
		width: inherit
		margin-right: 0
	.page-brand__content
		flex-direction: column-reverse
	.page-brand__content .brand-item__right
		margin-bottom: 14.49vw
	.page-brand__title
		font-size: 5.79vw
		line-height: 7.48vw
		margin-bottom: 4.83vw
	.page-brand__text
		font-size: 3.38vw
		line-height: 6.28vw
		margin-bottom: 7.24vw
	.page-brand__btn, .page-brand__img
		margin-bottom: 14.49vw
	.page-brand__lists
		margin-bottom: 9.66vw
		flex-wrap: wrap
	.lists--left
		margin-right: 0
		margin-bottom: 7.24vw
	.brand-page__list
		margin-bottom: 7.24vw
	.brand-page__list li.list__title
		font-size: 5.31vw
		line-height: 7vw
		margin-bottom: 4.83vw
	.brand-page__list li
		font-size: 3.38vw
		line-height: 6.28vw
		margin-bottom: 2.89vw
	.brand-page-btn
		font-size: 3.38vw
		line-height: 4.83vw
	.support-wrap
		flex-direction: column
	.topics-wrap
		margin-right: 0
	.topics__content
		flex-direction: column-reverse
		margin-bottom: 14.49vw
	.topics_slider-wrap
		margin-bottom: 9.66vw
	.topics__right
		margin-bottom: 9.66vw
	.faq-wrap
		width: inherit
	.faq-link
		font-size: 4.34vw
		line-height: 5.79vw
		margin-bottom: 7.24vw
	.support-page__menu-wrap
		flex-direction: column
		margin-bottom: 7.24vw
	.support-search
		margin-right: 0
		margin-bottom: 7.24vw
	.support-page__left
		width: 100%
		margin-right: 0
	.support-page__text-wrap
		padding: 0
	.list__title
		font-size: 5.31vw
		line-height: 5vw
		margin-bottom: 4.83vw
	.example-text
		font-size: 3.86vw
		line-height: 6.76vw
		margin-bottom: 3.38vw
	.support__notice-wrap
		padding: 7.24vw
	.support-page__text-wrap
		padding: 0 7.24vw
	.code-text,.table
		margin-bottom: 14.49vw
	.code-text
		font-size: 3.38vw
		line-height: 5.79vw
		padding: 7.24vw
	.numeral__list
		font-size: 3.38vw
		line-height: 6.28vw
		margin-bottom: 2.41vw
	.list__pretitle
		font-size: 4.34vw
		line-height: 5.5vw
		margin-bottom: 9.66vw
	.table
		overflow-x: scroll
	.table__titles .cell
		font-size: 3.38vw
		line-height: 6.76vw
		padding: 7.24vw 14.49vw 7.24vw 0
	.cell
		min-width: 42.75vw
		width: 42.75vw
		font-size: 3.38vw
		line-height: 6.76vw
	.input-texts
		display: none
	.brand-item
		&:hover
			.brand-item__right
				border: 1px solid #019771
				border-top: none
			.brand-slide
				border: 1px solid #019771
				border-bottom: none
	.topics__left
		width: 100%
	.open-menu-wrap
		background-image: none
	.open-menu
		background-image: url(../img/main-bg.svg)
		background-repeat: no-repeat
		background-size: 197vw auto
		background-position: -34.7vw bottom
	.log-in__right
		transition: none
	.log-in-popup
		background-color: transparent
	.arrow
		width: 1.6vw
		height: 2.89vw
		right: calc(100% + 2.17vw)
	
	.stars-wrap
		width: 22vw
		height: 3.2vw
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

