@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "../app/libs/slick-carousel/slick/slick.css"
@import "../app/libs/slick-carousel/slick/slick-theme.css"

*
	outline: none
*::-webkit-input-placeholder
	font-family: "IbmplexsansLight"
	color: #01161E
	opacity: .6

*:-moz-placeholder
	font-family: "IbmplexsansLight"
	color: #01161E
	opacity: .6

*::-moz-placeholder
	font-family: "IbmplexsansLight"
	color: #01161E
	opacity: .6

*:-ms-input-placeholder
	font-family: "IbmplexsansLight"
	color: #01161E
	opacity: .6

.input-text
	font-size: .55vw
	line-height: .69vw
	position: absolute
	top: .5vw
	left: calc(2vw + 2px)
	opacity: .6
	transition: all .3s
	opacity: 0
	text-transform: uppercase
input, textarea
	position: relative
	z-index: 1
	&.touch
		&:focus
			&+.input-texts
				.input-text
					opacity: 1
		&:invalid
			border-left: 2px solid #F7567C
			&+.input-texts
				.input-text
					opacity: 0
					&.input-text--error
						opacity: 1
						color: #F7567C
		&:valid
			border-left: 2px solid #019771
			&+.input-texts
				.input-text
					opacity: 1
					color: #019771
					&.input-text--error
						opacity: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	font-family: "IbmplexsansLight"
	color: #01161E
body input:required:valid,
body textarea:required:valid
	font-family: "IbmplexsansLight"
	color: #01161E
.nicescroll-rails-hr
	display: none !important
.nicescroll-rails,.nicescroll-cursors
	width: .69vw !important
	border: none !important
	border-radius: 0 !important
	
//Custom Styles Here
html
	&.unscrolled
		overflow: hidden
body
	color: #01161E
	overflow-x: hidden
	&.unscrolled
		height: 100vh
		overflow: hidden
a,a:hover,a:active
	color: #01161E
	text-decoration: none
ul
	list-style: none
	padding: 0
	margin: 0
.relative
	position: relative
.accent
	color: #019771
.block
	padding: 0 8.33vw
.flex
	display: flex
.flex--row
	flex-direction: row
.flex--column
	flex-direction: column
.img--response
	width: 100%
	display: block
	height: auto
.hidden
	display: none
//Header Styles
header
	position: relative
.header__top
	position: relative
.header__top.open
	.head__left
		max-width: 100%
		padding: 2.78vw 8.33vw 2.78vw 
		.menu,.menu-btn
			display: none
		.menu-close
			display: inherit
	.head__right
		display: none
	& + .header__content
		.content__right,.content__left,.header-content--mob
			display: none
.head__right.head__right--white
	background-color: #fff
	box-shadow: inset 0px -1px 0px 0px rgba(#F1F9F7, 1)
#menu-popup.open
	display: inherit
.open-menu-wrap
	display: none
	position: absolute
	width: 100%
	min-height: calc(100vh - 100%)
	max-height: calc(100vh - 100%)
	height: calc(100vh - 100%)
	top: 100%
	z-index: 2
	background-color: #fff
	background-image: url(../img/main-bg.svg)
	background-repeat: no-repeat
	background-size: 82.84vw 21.6vw
	background-position: 8.37vw bottom
	overflow: scroll
	&.affiliate-popup--screen
		background-image: url(../img/world.svg)
		background-repeat: no-repeat
		background-size: 59.72vw 41.67vw
		background-position: 31.94vw 6.25vw
		background-color: #fff

.open-menu
	position: relative
	width: 100%
	min-height: 100%
	justify-content: space-between
	align-items: flex-start
	padding: 6.94vw 8.33vw 7.29vw
.open-open__list
	&>li
		position: relative
		margin-bottom: 2.78vw
		&>a
			display: block
			font-family: 'IBMPlexSansMedium'
			font-size: 2.5vw
			line-height: 3.26vw
			font-weight: 500
			color: #01161E
			min-width: 18.19vw
			position: relative
	&>li.parent-link
		&>a
			&:after				
				content: ''
				width: 1vw
				height: 1vw
				border-top: 4px solid #01161E
				border-right: 4px solid #01161E
				position: absolute
				top: 50%
				right: 0
				transform: translate(0,-50%) rotate(45deg)
			&:hover,&:active
				&:after					
					border-top: 4px solid #019771
					border-right: 4px solid #019771
		&:hover
			.sub-menu
				transform: rotate3d(0,0,0,90deg)

.sub-menu
	transition: all .3s
	transform-origin: 5vw 0
	transform: rotate3d(0,1,0,90deg)
	position: absolute
	width: max-content
	padding-left: 10vw
	top: 0
	left: 100%
	li
		margin-bottom: 2vw
		a
			font-size: 2.22vw
			line-height: 2.91vw
			font-family: "IbmplexsansRegular"
			color: #01161E

.head__left, .head__right
	align-items: center
	justify-content: space-between
	width: 100%
	box-shadow: inset 0px -1px 0px 0px rgba(#F1F9F7, 1)
.logo
	display: block
	width: 7vw
	margin-right: 6.93vw
.link
	display: block
.menu
	margin-right: 5.76vw
	li
		width: 7vw
	.link
		display: inline-block
		color: #01161E
		font-size: 1.11vw
		line-height: 1.45vw
		position: relative
		transition: all .3s
		&:after
			content: ''
			transition: all .3s
			position: absolute
			top: 100%
			left: 0
			width: 4px
			height: 4px
			background-color: #019771
			opacity: 0
		&:before
			content: ''
			transition: all .3s
			position: absolute
			top: 100%
			left: 8px
			width: 0
			height: 2px
			transform: translateY(1px)
			background-color: #019771
		&:hover,&:active
			color: #019771
			&:after
				content: ''
				transition: all .3s
				position: absolute
				top: 100%
				left: 0
				width: 4px
				height: 4px
				background-color: #019771
				opacity: 1
			&:before
				content: ''
				transition: all .3s
				position: absolute
				top: 100%
				left: 8px
				width: calc(100% - 8px)
				height: 2px
				transform: translateY(1px)
				background-color: #019771
		&.active
			font-family: "IbmplexsansBold"
			&:after
				content: ''
				transition: all .3s
				position: absolute
				top: 100%
				left: 0
				width: 4px
				height: 4px
				background-color: #019771
				opacity: 1
			&:before
				content: ''
				transition: all .3s
				position: absolute
				top: 100%
				left: 8px
				width: calc(60% - 8px)
				height: 2px
				transform: translateY(1px)
				background-color: #019771
			&:hover,&:active
				&:after
					content: ''
					transition: all .3s
					position: absolute
					top: 100%
					left: 0
					width: 4px
					height: 4px
					background-color: #019771
				&:before
					content: ''
					transition: all .3s
					position: absolute
					top: 100%
					left: 8px
					width: calc(100% - 8px)
					height: 2px
					transform: translateY(1px)
					background-color: #019771
			
.menu-btn
	width: 1.67vw
.menu-close
	display: none
.menu-close-wrap
	align-items: center
	opacity: .45
.menu-close__text
	font-family: "IbmplexsansBold"
	text-transform: uppercase
	font-size: .97vw
	line-height: 1.38vw
	margin-right: .97vw
	color: #01161E
	width: max-content
.menu-close__img
	width: 1.67vw
.btn
	display: block
	width: max-content
	font-family: "IbmplexsansBold"
	font-size: .97vw
	line-height: 1.38vw
	padding: .97vw 1.94vw
	text-transform: uppercase
	background-color: #019771
	color: #fff
	cursor: pointer
	&.inverse
		background-color: #fff
		color: #019771
	&:hover,&:active
		color: #01161E
		background-color: #F4FFFC
.affiliate-btn
	background-color: #019771
	color: #fff
.affiliate-btn.inverse
	background-color: #fff
	color: #019771
	&:hover,&:active
		color: #01161E
		background-color: #F4FFFC
.advertiser-btn
	color: #019771
	background-color: transparent
	&:hover,&:active
		color: #46B397
		background-color: rgba(1, 151, 113, 0.05)
.advertiser-btn.inverse
	color: #fff
	background-color: #019771
	&:hover,&:active
		color: #FEFEFE
		background-color: rgba(254, 254, 254, 0.15)
.signin-btn
	padding: .833vw
	img
		width: 1.7vw
	&:hover
		background-color: rgba(1, 151, 113, 0.05)
.main-screen--right	
	.signin-btn
		&:hover
			background-color: rgba(254, 254, 254, 0.15)
//Header main Screen
.main-screen--left
	max-width: 58.33%
	padding: 2.78vw 6.59vw 2.78vw 8.33vw
.main-screen--right
	max-width: 41.66%
	background-color: #019771
	box-shadow: none
.head__right
	padding: 2.78vw 8.33vw 2.78vw 5.55vw
//Header under menu Styles
.content__left
	position: relative
	max-width: 58.33%
	padding: 6.25vw 0 9.16vw 8.33vw
.stats-wrap
	margin-bottom: 2.833vw
	flex-wrap: wrap
.stat-wrap
	margin-bottom: 3vw
	width: 13.7vw
	animation: showFromLeftWithOpacity .3s .2s both
.stat__number
	font-family: "IbmplexsansBold"
	font-size: 2.5vw
	line-height: 3.26vw
	margin-bottom: .694vw
	width: 100%	
	cursor: pointer
	&:hover
		color: #019771
	span
		display: inline-block
		width: 39%
.stat__title
	font-family: "IbmplexsansLight"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-right: .694vw
.stat--main
	margin-bottom: 4.16vw
	width: 40vw
	span
		width: 70%
		text-align: end
	.stat__number
		font-size: 6.67vw
		line-height: 8vw
		margin-bottom: 1.11vw
		color: #019771
	.stat__title
		font-size: 1.388vw
		line-height: 1.8vw
.content__right
	position: relative
	max-width: 41.66%
	width: 100%
	padding: 7.22vw 5.55vw 0
	background-color: #019771
.header__pretitle
	font-family: "IbmplexsansSemiBold"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-bottom: 1.388vw
	color: rgba(#fff,.75)
	text-transform: uppercase
.header__title
	font-family: "IbmplexsansSemiBold"
	font-size: 2.22vw
	line-height: 3vw
	margin-bottom: 2.78vw
	color: #fff
.header__descr
	font-family: "IbmplexsansRegular"
	font-size: 1.38vw
	line-height: 2.22vw
	color: #FEFEFE
.header__content
	transition: all .5s
	background-image: url(../img/main-bg.png)
	background-repeat: no-repeat
	background-position: 8.37vw 100%
	position: relative
	background-size: 82.84vw 0
	&.bgshow
		background-size: 82.84vw 21.6vw
.line
	position: absolute
	height: 100%
	width: 1px
	background-color: #F1F9F7
	top: 0
.line.first
	left: 8.33vw
.line.second
	left: 35.65vw
.line.third
	left: 63vw
.line.fourth
	left: inherit
	right: 8.33vw
.link-wrap
	margin-bottom: 2.78vw
	&:nth-child(2)
		margin-bottom: 4.86vw
.link-content
	font-family: "IbmplexsansBold"
	font-size: 2.22vw
	line-height: 2.91vw
	margin-bottom: .69vw
	color: #01161E
.link-title
	font-family: "IbmplexsansLight"
	font-size: 1.11vw
	line-height: 1.45vw
	color: #01161E
.social-list
	margin-bottom: 5.48vw
	li
		margin-right: 1.38vw
		&:last-child
			margin-right: 0
		a
			display: block
			width: 3.33vw
.open-menu__btns-wrap
	align-items: center
.btns-wrap
	margin-right: 1.59vw
.open-menu__left,.open-menu__right
	position: relative
	z-index: 1
//Joim popups styles
.affiliate-popup
	position: relative
	width: 100%
	min-height: 100%
	padding: 4.167vw 12.1vw 7.29vw 8.33vw
.affiliate__pretitle
	position: relative
	font-family: "IbmplexsansSemiBold"
	font-size: 1.67vw
	line-height: 2.15vw
	margin-bottom: 2.78vw
.affiliate__title
	position: relative
	font-family: "IbmplexsansBold"
	font-size: 2.5vw
	line-height: 3.26vw
	margin-bottom: 5.55vw
.affiliate__form
	position: relative
.form__title
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.25vw
	margin-bottom: .97vw
	opacity: .9
	text-transform: uppercase
.form_inputs
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 4.167vw
.inputs-column
	margin-right: 3.7vw
	.input--text:last-child
		//margin-bottom: 0
.input--text
	border: none	
	outline: none
	width: 23.6vw
	padding: 1vw 2vw
	font-size: .97vw
	line-height: 1.25vw
	border: 1px solid rgba(1, 22, 30, 0.07)
	//margin-bottom: .69vw
	background-color: transparent
	&:last-child
		margin-bottom: 0
.input-wrap
	margin-bottom: .69vw
	&:last-child
		margin-bottom: 0
.form__submit-wrap
	align-items: center
.input--checkbox
	display: none
	&:checked
		& + .input-label
			.label__box
				box-shadow: none
				background-color: #019771
.input-label
	align-items: flex-start
	margin-bottom: .97vw
	cursor: pointer
	&:last-child
		margin-bottom: 0
.label__box
	display: block
	width: 1vw
	height: 1vw
	min-width: 1vw
	min-height: 1vw
	background-color: #fff
	box-shadow: inset 0px 0px 0px 1px rgba(#B2B8BB, 1)
	margin-right: .69vw
.label__title
	font-family: "IbmplexsansLight"
	font-size: .833vw
	line-height: 1.389vw
	transform: translateY(-.3vw)
#form-submit.opacity
	opacity: .5
.input--password
	& + label
		position: absolute
		width: 1.11vw
		height: .9vw
		bottom: 1.63vw
		right: 2vw
		transform: translate(0,50%)
		background-image: url(../img/password.svg)
		background-position: 0 0
		background-size: 100% 100%
			
//Log in styles
.log-in-wrap
	display: none
	position: absolute
	width: 100%
	height: 100vh
	min-height: 100vh
	top: 0
	left: 0
	z-index: 2
	&.open
		display: inherit
		.log-in__right
			transform: translateX(0)
.log-in
	display: none
	&.open
		display: inherit
.log-in-popup
	width: 100%
	height: 100%
	background-color: rgba(#01161E,.6)
.log-in__left
	transition: all .3s
	max-width: 58.33%
	width: 100%
	min-height: 100vh
.log-in__right
	transition: all .3s
	max-width: 41.66%
	width: 100%
	background-color: #fff
	padding: 3.61vw 5.55vw
	background-image: url(../img/log-in-bg.svg)
	background-size: 100% 100%
	background-repeat: no-repeat
	transform: translateX(100%)
	min-height: 100%
	overflow-y: scroll
.forget-pass,.log-in,.change-pass,.email-sent,.pass-changed
	animation: showFromRight .3s both
.log-in__top
	align-items: center
	justify-content: space-between
	margin-bottom: 7.78vw
.not-reg-wrap
	align-items: center
.log-in-btn
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.389vw
	margin-right: 1vw
	text-transform: uppercase
.not-reg
	font-family: "IbmplexsansMedium"
	font-size: .97vw
	line-height: 1.389vw
	text-transform: uppercase
	opacity: .3
.close--log-in
	width: 1.67vw
	height: 1.67vw
	opacity: .45
	cursor: pointer
.log-in-popup
	.form_inputs
		margin-bottom: .97vw
.forget-btn
	font-family: "IbmplexsansSemiBold"
	font-size: .83vw
	line-height: 1.25vw
	margin-bottom: 2vw
	color: #01161E
	opacity: .4
.log-in-form-btn
	margin-bottom: .97vw
.submit-info
	font-size: .83vw
	line-height: 1.25vw
	margin-bottom: 2.78vw
.social__title
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.25vw
	margin-bottom: .97vw
	text-transform: uppercase
.forget-pass
	display: none
.forget-pass.open
	display: inherit
.pretitle--forget-pass
	color: #01161E
	display: block
	width: fit-content
	cursor: pointer
	img
		width: 2vw
		margin-right: 1.389vw
.email-sent,.change-pass,.pass-changed,#affiliate-popup,#advertiser-popup
	display: none
	&.open
		display: inherit
.email-sent-btn
	background-color: #E5F4F0
.email-sent-ok-btn
	margin-right: .694vw
//We are diffent styles
.we-are-diffent--block
	position: relative
	padding: 4.17vw 0 5.69vw	
.land__menu-wrap
	margin-bottom: 2.78vw
	align-items: center
.land__pretitle
	min-width: 12.5vw
	font-family: "IbmplexsansSemiBold"
	font-size: 1.67vw
	line-height: 2.15vw
	margin-right: 15.28vw
	color: 
.land__menu
	li
		margin-right: 2.78vw
		.land-link
			display: block
			width: max-content
			font-family: "IbmplexsansRegular"
			font-size: 1.25vw
			line-height: 1.59vw
			color: #01161E
			opacity: .75
			&.active
				color: #019771
				font-family: "IbmplexsansSemiBold"
				opacity: 1
			&:hover,&:active
				font-family: "IbmplexsansSemiBold"
				opacity: 1
			&:last-child
				.land-link
					margin-right: 0
.land__title
	font-family: "IbmplexsansBold"
	font-size: 2.5vw
	line-height: 3.26vw
	margin-bottom: 4.3vw
.features-wrap
	align-items: flex-start
	&.features-wrap--grey
		padding: 2.98vw 8.33vw 5.69vw
		background-color: #F9FCFB
		.feature
			margin-bottom: 0

.feature
	margin-bottom: 4vw
	align-items: flex-start
	justify-content: space-between
	width: 25.27vw
	margin-right: 2.3vw
	transform: translateX(-1.7vw)
.feature__img
	width: 7.36vw
.feature__content-wrap
	transform: translateX(-1.58vw)
.feature__title
	font-family: "IbmplexsansSemiBold"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-top: 1.25vw
	margin-bottom: 1.11vw
	text-transform: uppercase
	opacity: .9
.feature__content
	font-family: "IbmplexsansLight"
	font-size: 1.11vw
	line-height: 1.94vw
	
//Brands slider styles
.arrow
	position: absolute
	right: calc(100% + .41vw)
	top: 50%
	transform: translate(0,-50%)
	width: .48vw
	height: .83vw
	background-size: 100% 100%
	background-repeat: no-repeat
	&.arrow--down
		background-image: url('../img/arrow--down.svg')
	&.arrow--up
		background-image: url('../img/arrow--up.svg')
.brands-slider-wrap
	padding: 0 0 0 8.33vw
	margin-bottom: 6vw
	overflow-x: hidden
.brands-nav-slider
	min-width: 51.39vw
	margin-right: 3.3vw
.brands__nav
	justify-content: space-between
	padding-right: 4.16vw
.brands__nav-wrap
	width: 100%
.brands-slider
	width: 109.2vw
.brand-slide
	padding: 3.26vw 2vw 1.94vw
	width: 23.6vw
	border: 1px solid rgba(1, 22, 30, 0.1)
	background-color: #fff
	color: #01161E
	margin-right: 4.167vw
	&:last-child
		margin-right: 0
	&:hover,&:active,&:visited
		color: #01161E
		border: 1px solid #019771
.advertises-slide
	&:hover,&:active,&:visited
		color: #01161E
		border: 1px solid #019771
.brand__top
	align-items: center
	margin-bottom: 2vw
.brand__img
	width: 8.33vw
	height: 8.33vw
	margin-right: 1.389vw
.rate
	align-items: center
	margin-bottom: .69vw
	&:last-child
		margin-bottom: 0
.rate__left
	font-family: "IbmplexsansMedium"
	text-transform: uppercase
	font-size: 1.25vw
	line-height: 1.59vw
	opacity: .4
	margin-right: 1.94vw
	min-width: 2.36vw
.rate__right
	font-family: "IbmplexsansBold"
	text-transform: uppercase
	font-size: 1.25vw
	line-height: 1.59vw
	min-width: 5.4vw
	position: relative
.rating
	align-items: center
	margin-bottom: .69vw
.stars
	align-items: center
	margin-right: .69vw
	position: relative
	.progress
		position: absolute
		left: 0
		top: 0
		height: 100%
.stars-wrap
	width: 7vw
	height: 1vw
	background-image: url(../img/star--empty-1.png)
	background-size: auto 100%	
	position: relative

.star__title
	font-family: "IbmplexsansBold"
	text-transform: uppercase
	font-size: .97vw
	line-height: 1.25vw
	opacity: .3
.brand__title
	font-family: "IbmplexsansBold"
	font-size: 1.389vw
	line-height: 1.8vw
	margin-bottom: 1.67vw
	align-items: center
	span
		margin-right: 1vw
	img
		width: 1.25vw
.brand__category
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.25vw
	margin-bottom: .416vw
	text-transform: uppercase
.brand__content
	font-family: "IbmplexsansLight"
	font-size: 1.11vw
	line-height: 1.94vw
	margin-bottom: 2.29vw
.brand__geo
	font-family: "IbmplexsansBold"
	font-size: .97vw
	line-height: 1.25vw
	opacity: .65

//End Brands slider styles
.partners--block
	padding: 6.59vw 8.33vw
	background-color: #F9FCFB
	justify-content: space-between
	align-items: center
.partners__title
	font-family: "IbmplexsansSemiBold"
	font-size: 1.67vw
	line-height: 2.15vw
	opacity: .5
.partners__logos
	align-items: center
.partner
	display: block
	margin-right: 2vw
	opacity: .6
	&:hover,&:active
		opacity: 1

//Ournews styles
.ournews--block
	position: relative
	padding: 6.94vw 0
.news-slider
	width: 51.39vw
	margin-right: 3.3vw
.news-slide
	align-items: flex-start
.news-slide__left
	width: 20.6vw
	align-items: flex-start
	margin-right: 7vw
.news-slide__pretitle
	font-family: "IbmplexsansSemiBold"
	font-size: 1.11vw
	line-height: 1.45vw
	text-transform: uppercase
	width: max-content
	margin-bottom: .69vw
.news-slide__title
	font-family: "IbmplexsansBold"
	font-size: 1.67vw
	line-height: 2.15vw
	margin-bottom: 4vw
.news-slide__img
	width: 8.33vw
	height: auto
.news-slide__content
	font-family: "IbmplexsansRegular"
	font-size: 1.38vw
	line-height: 2.22vw
.news-slider__nav-wrap
	width: 100%
.news-slider__nav
	justify-content: space-between
	margin-bottom: 13.82vw
	padding-right: 4.16vw
.current-page
	font-family: "IbmplexsansBold"
	font-size: 1.38vw
	line-height: 1.8vw
	margin-right: 2vw
.slash,.amount-pages
	font-family: "IbmplexsansMedium"
	font-size: 1.38vw
	line-height: 1.8vw
	opacity: .6
.view-all-btn
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.38vw
	color: #019771
	text-transform: uppercase

.left-arrow,.right-arrow
	width: 2vw
	cursor: pointer
.left-arrow
	margin-right: 2vw

//Who we are block
.who-we-are--block
	background-color: #019771
	background-image: url(../img/whoweare-bg.svg)
	background-size: 100% 100%
	background-repeat: no-repeat
	color: #fff
	padding: 6.94vw 8.33vw
	.line
		background-color: #008F6A
.who-we-are__left
	width: 63vw
	flex-wrap: wrap
	.stat-wrap
		width: 13.8vw
		margin-right: 0	
		.stat__number
			&:hover
				color: #fff
	.stat-wrap--big
		width: 27.78vw
		margin-bottom: 5.55vw
		.stat__number
			font-size: 4.44vw
			line-height: 5.76vw
			margin-bottom: 1.11vw
		.stat__title
			font-size: 1.25vw
			line-height: 1.59vw
.who-we-are__right
	width: 27.78vw
	align-items: flex-start
.who-we-are__right-content
	font-family: "IbmplexsansLight"
	font-size: 1.11vw
	line-height: 1.94vw
	transform: translateX(-5.16vw)
.pre-img
	width: 7.22vw
	transform: translateX(-3.64vw)

//Get in touch block styles
.get-in-touch--block
	padding: 6.94vw 8.33vw
	.inputs-column
		margin-right: 3.7vw

//Footer styles
.pre-footer
	padding: 6.94vw 8.33vw
	background-color: #F9FCFB
.footer__logo
	display: block
	min-width: 9.74vw
	width: 9.74vw
	margin-right: 18.125vw
.footer-link
	font-family: "IbmplexsansMedium"
	font-size: 1.38vw
	line-height: 1.8vw
	margin-bottom: 2.78vw
	color: #01161E
	width: max-content
	&:hover,&:active
		color: #01161E
.footer-sub-link
	font-family: "IbmplexsansRegular"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-bottom: 1.38vw
	color: #01161E
	opacity: .75
	width: max-content
	&:last-child
		margin-bottom: 0
	&:hover,&:active
		color: #019771
.footer-col
	margin-right: 5.7vw
.footer__contacts
	.link-wrap
		margin-bottom: 1.38vw
		&:nth-child(2)
			margin-bottom: 4.167vw
		.link-content
			font-size: 1.11vw
			line-height: 1.45vw
			margin-bottom: 0
	.social-list
		margin-bottom: 0
		li
			margin-right: 1vw
			a
				width: 1.67vw
.post-footer
	padding: 2.78vw 8.33vw
	align-items: center
	background-color: #F9FCFB
	border-top: 1px solid #F1F9F7
.rights-wrap
	margin-right: 17.9vw
.year
	font-family: "IbmplexsansSemiBold"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-bottom: .75vw
.rights
	font-family: "IbmplexsansLight"
	font-size: .97vw
	line-height: 1.25vw
.footer__partners
	align-items: center
.footer__partner
	width: 4.86vw
	margin-right: 5.55vw

//Affiliate how it works page
.armo-presentation
	width: 22.2vw
	margin-right: 5vw
	align-items: flex-start
.how-it-works-features
	.armo-presentation
		animation: showFromRightWithOpacity .3s .2s both
	.feature:nth-child(2)
		animation: showFromRightWithOpacity .3s .3s both
	.feature:nth-child(4)
		animation: showFromRightWithOpacity .3s .4s both
.armo__logo
	width: 20.8vw
	margin-bottom: 4.15vw
.armo__text
	font-family: "IbmplexsansRegular"
	font-size: 1.38vw
	line-height: 2.22vw
//Affiliate earning
.how-it-works-features
	.feature
		position: relative
		padding-bottom: 13.5vw
		margin-bottom: 0
		background-image: url(../img/vector.svg)
		background-repeat: no-repeat
		background-position: 100% 13vw
		background-size: 11.8vw 9.7vw
.earning-features
	margin-bottom: 8.4vw
	.feature
		position: relative
		padding-bottom: 13.5vw
		margin-bottom: 0
		background-repeat: no-repeat
		background-position: 100% 13vw
		background-size: 8vw 8.6vw
		&:first-child
			background-image: url(../img/earning-01.svg)
		&:nth-child(2)
			background-image: url(../img/earning-02.svg)
		&:last-child
			background-image: url(../img/earning-03.svg)

//Advertises slider styles
.advertises-slider
	width: 120.8vw
.advertises-slide
	min-width: 37.5vw
	padding: 2vw
	background-color: #fff
	color: #01161E
	border: 1px solid rgba(1, 22, 30, 0.1)
	margin-right: 4.15vw
	margin-bottom: 2.78vw
	outline: none
	&:hover,&:active
		outline: none
.advertises-slide__left
	width: 9.72vw
	margin-right: 4.15vw
.advertises-slide__right
.advertises-slide__title
	font-family: "IbmplexsansBold"
	font-size: 2.22vw
	line-height: 2.91vw
	margin-bottom: 1.11vw
	span
		margin-right: .833vw
	img
		width: 1.67vw
.advertises-slide__text
	font-family: "IbmplexsansRegular"
	font-size: 1.38vw
	line-height: 2.22vw
.traffic-features
	align-items: flex-start
	flex-wrap: wrap
	width: 80%
.numbers-wrap
	margin-right: 10.76vw
	margin-bottom: 2.78vw
.number__title
	width: max-content
	font-family: "IbmplexsansBold"
	font-size: 4.44vw
	line-height: 5.76vw
	margin-bottom: 1.11vw
.number__text
	width: max-content
	font-family: "IbmplexsansLight"
	font-size: 1.25vw
	line-height: 1.59vw
.traffic--block
	background-color: #fff
	background-image: url(../img/traffic-bg.svg)
	background-repeat: no-repeat
	background-position: 31.94vw 15.13vw
	background-size: 59.7vw 41.67vw
//Advertises slyder styles end

//Filter styles
.filter-wrap
	align-items: flex-start
	padding: 0 8.33vw 6.94vw
.filter__left
	width: 23.61vw
	margin-right: 3.7vw
.main-filter
	font-family: "IbmplexsansBold"
	font-size: 1.38vw
	line-height: 1.8vw
	margin-bottom: 0
	cursor: pointer
	& + .filter__inputs
		display: none
	img
		width: .833vw
		transition: all .3s
		transform: rotate(180deg)
	&.active
		margin-bottom: 2.78vw
		img
			transform: rotate(0deg)
		& + .filter__inputs
			display: flex
.filter-group
	margin-bottom: 4.16vw
	&:last-child
		margin-bottom: 0
.filter--select
	background-color: #F1F9F7
	border: 1px solid #F1F9F7
	font-family: "IbmplexsansMedium"
	margin-bottom: 1.38vw
.filter--text
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.25vw
	margin-bottom: .97vw
	text-transform: uppercase
.filter--text-type
	margin-bottom: 1.38vw
.filter--chekbox
	align-items: center
	.label__title
		display: block
		font-family: "IbmplexsansLight"
		font-size: 1.11vw
		line-height: 1.45vw
		text-transform: none
		transform: none
		margin-right: .69vw
	.label__amount
		font-family: "IbmplexsansSemiBold"
		font-size: .97vw
		line-height: 1.25vw
		margin-right: .97vw
		opacity: .3
	.label__img
		width: .55vw
.subinputs-wrap
	display: none
	margin-bottom: 1.38vw
	padding-left: 1.73vw
	&.active
		display: inherit
.programs-block
	padding-left: 4.16vw 0
	.land__menu-wrap
		margin-bottom: 0

.filter__nav
	margin-bottom: 1vw
	align-items: center
	&:last-child
		margin-bottom: 0
.filter__numbers
	align-items: center
	margin-right: 5.41vw
	.amount-pages,.slash
		font-family: "IbmplexsansRegular"
		font-size: 1.11vw
		line-height: 1.45vw
		opacity:.5
	.current-page
		align-items: center
.filter-link
	font-family: "IbmplexsansRegular"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-right: 1.38vw
	color: #01161E
	opacity:.5
	&:hover,&:active,&.active
		font-family: "IbmplexsansBold"
		opacity: 1
.filter__arrows
	margin-right: 4.16vw
.perpage-wrap
	margin-right: 6.25vw
.perpage__title
	font-family: "IbmplexsansRegular"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-right: 1vw
	opacity: .75
	width: max-content
.perpage__value
	color: #019771
	opacity: .75
	font-family: "IbmplexsansBold"
	font-size: 1.11vw
	line-height: 1.45vw
.found__title
	font-family: "IbmplexsansRegular"
	font-size: 1.11vw
	line-height: 1.45vw
	margin-right: 1vw
	opacity: .75
	width: max-content
.found__value
	opacity: .75
	font-family: "IbmplexsansBold"
	font-size: 1.11vw
	line-height: 1.45vw
.brands-items-wrap
	margin-bottom: 4.16vw
.brand-item
	color: #01161E
	background-color: #fff
	margin-bottom: 2vw
	&:last-child
		margin-bottom: 0
	.brand-slide
		margin-right: 0
.brand-item__right
	width: 100%
	padding: 2vw
	border: 1px solid rgba(1,22,30,.1)
	border-left: none
.brand-item__title
	font-family: "IbmplexsansSemiBold"
	font-size: .97vw
	line-height: 1.25vw
	margin-bottom: 1.38vw
	text-transform: uppercase
.brand-item__values
	font-size: 1.11vw
	line-height: 1.45vw
	margin-bottom: .83vw
	align-items: center
	justify-content: space-between
.brand-item__key
	font-family: "IbmplexsansMedium"
	opacity: .4
.brand-value__value
	font-family: "IbmplexsansBold"
	&.green
		color: #019771
.brand-item__group
	margin-bottom: 2.78vw
.show-btn
	font-family: "IbmplexsansSemiBold"
	font-size: 1.11vw
	line-height: 1.45vw
	color: #019771
//Brand page styles
.page-brand__content
	.brand-slide
		margin-right: 0
		margin-bottom: 4.16vw
		border: none
		padding: 0
	.brand-item__right
		border: none
		padding: 0
.page-brand__left
	margin-right: 4.16vw
	width: 50.5vw
.page-brand__title
	font-family: "IbmplexsansBold"
	font-size: 2.22vw
	line-height: 2.91vw
	margin-bottom: 2vw
.page-brand__text
	font-family: "IbmplexsansLight"
	font-size: 1.38vw
	line-height: 2.36vw
	opacity: .9
	margin-bottom: 2.78vw
.page-brand__btn,.page-brand__img
	margin-bottom: 4.16vw
.page-brand__lists
	margin-bottom: 2.78vw
.lists--left
	margin-right: 4.16vw
.brand-page__list
	margin-bottom: 2.78vw
	&:last-child
		margin-bottom: 0
	li
		font-family: "IbmplexsansLight"
		font-size: 1.11vw
		line-height: 1.94vw
		margin-bottom: .69vw
		opacity: .9
		list-style-image: url(../img/list-style.svg)
		list-style-position: inside
	li.list__title
		font-family: "IbmplexsansSemiBold"
		font-size: 1.67vw
		line-height: 2.15vw
		margin-bottom: 1.38vw
		opacity: 1
		list-style-image: none
.list__title
	font-family: "IbmplexsansSemiBold"
	font-size: 1.67vw
	line-height: 2.15vw
	margin-bottom: 1.38vw
.brand-page-btn
	font-family: "IbmplexsansSemiBold"
	font-size: 1.11vw
	line-height: 1.38vw
	text-transform: uppercase
	color: #019771

//Support styles
.topics_slider-wrap
	margin-bottom: 4.16vw
.topics__left
	margin-right: 3.7vw
	width: 23.6vw
.topic
	margin-bottom: .69vw
	&:last-child
		margin-bottom: 0
.topics__nav
	justify-content: space-between
.topics-wrap
	margin-right: 8.33vw
.faq-wrap
	width: 24vw
.faq_slider-wrap
	margin-bottom: 7.5vw
.faq-link
	font-family: "IbmplexsansRegular"
	font-size: 1.25vw
	line-height: 1.67vw
	margin-bottom: 2vw
.faq__nav
	justify-content: space-between
//Support page styles
.support-page__left
	width: 63vw
	padding-right: 5vw
.support-search
	margin-right: 3.7vw
.support-page__text-wrap
	padding-left: 8.33vw
	padding-right: 4.16vw
.support__notice-wrap
	padding: 2.78vw 4.16vw 2.78vw 8.33vw
	background-color: #F9FCFB
	margin-bottom: 2.78vw
.support__notice 
	align-items: flex-start
.support-page__menu-wrap
	justify-content: space-between
.code-text
	padding: 2.78vw 2vw
	border: 1px solid rgba(1, 22, 30, 0.1)
	margin-bottom: 4.16vw
.example-text
	font-family: "IbmplexsansRegular"
	font-size: 1.11vw
	line-height: 1.94vw
	margin-bottom: 1.38vw
.list__pretitle
	font-family: "IbmplexsansMedium"
	font-size: 1.38vw
	line-height: 1.8vw
	margin-bottom: 2.78vw
.table
	margin-bottom: 2.78vw
	width: 100%
.table__titles
	border-bottom: 1px solid rgba(1, 22, 30, 0.1)
	.cell
		font-family: "IbmplexsansSemiBold"
		font-size: .97vw
		line-height: 1.94vw
		opacity: .6
		text-transform: uppercase
		span
			text-transform: lowercase
.cell
	width: 9.12vw
	min-width: 9.12vw
	padding: 1.38vw 0
	padding-right: 1.38vw
	font-family: "IbmplexsansLight"
	font-size: .97vw
	line-height: 1.94vw
	opacity: .9
	&:last-child
		width: -webkit-fill-available
	&.bold
		font-family: "IbmplexsansMedium"
	&.total
		font-family: "IbmplexsansSemiBold"
		text-transform: uppercase
	.italic
		font-style: italic
		font-family: "IbmplexsansLight"
.anchor-link
	font-family: "IbmplexsansRegular"
	font-size: 1.25vw
	line-height: 1.83vw
	margin-bottom: 2vw
	opacity: .75
	&.active
		color: #019771
		opacity: 1
.anchor-list__title
	margin-bottom: 2.78vw
.numeral__list
	font-family: "IbmplexsansLight"
	font-size: 1.11vw
	line-height: 1.94vw
	margin-bottom: 2.78vw
	list-style: decimal
	list-style-position: inside
	li
		margin-bottom: .69vw

//Mobile styles
.affiliate__form--mob,.affiliate-form__slider
	width: 100%
.aff-mob__nav
	justify-content: space-between
	align-items: center
.aff-nav-wrap
	align-items: center
/* Стиль Выпадающей Кнопки
.dropbtn
	font-family: "IbmplexsansSemiBold"
	padding: 0
	align-items: center
	background-color: transparent
	color: #019771
	font-size: 3.86vw
	border: none
	cursor: pointer
	span
		margin-right: .96vw
	img
		width: 1.93vw

/* контейнер <div> - необходим для размещения выпадающего содержимого

.dropdown
	position: relative
	display: inline-block

/* Выпадающей контент (по умолчанию скрыт)

.dropdown-content
	display: none
	position: absolute
	background-color: #f9f9f9
	min-width: 160px
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
	z-index: 1
	top: 100%
	a
		color: black
		padding: 12px 16px
		text-decoration: none
		display: block

/* Ссылки внутри выпадающего списка

/* Изменить цвет выпадающих ссылок при наведении

/* Показать выпадающее меню при наведении

.dropdown:hover
  .dropdown-content
    display: block

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка
//Hidden for adaptive styles
.logo--mob,.signin-btn--mob,.header-content--mob,.line--mob,.open-menu__right .affiliate__pretitle,#mob-menu-contacts,.contact_us-btn,.log-in__right .head__left,#forget-btn--mob,.features-slider,.affiliate__form--mob,.land__menu--mob,.dropdown,.features__nav,.partners__logos--mob,#advertises-slider--mob,footer .link-title,.log-in-wrap .line,.filter__nav--mob
	display: none

//Animations
@keyframes showFromRight
	0%
		transform: translateX(100%)
	100%
		transform: translateX(0)
@keyframes showFromLeftRotate
	0%
		transform: rotate3d(0,1,0,90deg)
	100%
		transform: rotate3d(0,0,0,90deg)
@keyframes hideFromRight
	0%
		transform: translateX(0)
	100%
		transform: translateX(100%)
		
@keyframes showFromRightWithOpacity
	0%
		transform: translateX(5vw)
		opacity: 0
	100%
		transform: translateX(0)
		opacity: 1
		
@keyframes showFromLeftWithOpacity
	0%
		transform: translateX(-5vw)
		opacity: 0
	100%
		transform: translateX(0)
		opacity: 1

@keyframes hoverWidth
	0%
		width: 0
	100%
		width: 90%
//ALWAYS END

@import "media"
